.client {
  display: flex;
  &__avatar-style {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-right: 31px;
  }
  &-pic {
    /* border-radius: 50%; */
    width: 100%;
    height: auto;
  }
  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
  }

  &__title {
    font-weight: 600;
    line-height: 22px;
    color: rgba(70, 78, 98, 0.5);
  }
}
