.scroll-btn-down {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  position: relative;
  &:hover {
    text-decoration: underline;
  }

  &:after {
    position: absolute;
    top: 5px;
    right: -20px;
    width: 20px;
    height: 20px;
    display: block;
    background: svg-load("scroll.svg" fill=#000) no-repeat;
    content: "";
    z-index: 20;
  }
}
