.scroll-btn-down {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  position: relative;
  padding-right: 20px;
  &:hover,
  &:active {
    text-decoration: underline;
  }
  &:focus {
    outline: 2px solid #586ed3;
  }

  &:after {
    position: absolute;
    top: 5px;
    right: -5px;
    width: 20px;
    height: 20px;
    display: block;
    background: svg-load("scroll.svg" fill=#000) no-repeat;
    content: "";
    z-index: 20;
  }
}
