.scroll-btn-down {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  display: flex;

  &:after {
    margin-left: 10px;
    display: block;
    content: ">>";
    transform: rotate(90deg);
  }
}
