.skills {
  padding-left: 33%;
  &__row-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__row-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
  }
}
