.slider {
  &__header {
    padding-right: 50%;
    margin-bottom: 78px;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__content {
    display: flex;
    padding-right: 25%;
  }
  &__item {
    width: 50%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
