.triangles {
  display: flex;
  height: 100px;
  &__top {
    height: 100px;
    position: absolute;
    bottom: 100%;
    width: 100%;
  }
  &__bottom {
    height: 100px;
    position: absolute;
    top: 102%;
    width: 100%;
    .triangles__shape {
      transform: rotate(180deg);
    }
  }
}
.triangles__shape {
  width: 50%;
  fill: #fff;
  height: 100%;
}
