.user {
  display: flex;
  flex-direction: column;

  &__img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-bottom: 84px;
    align-self: center;
    border-radius: 50%;
  }
  &__pic {
    width: auto;
    height: 100%;
  }

  &__data-title {
    padding: 5px 0;
  }

  &__data-title {
    font-weight: 600;
    line-height: 30px;
    &:first-child {
      color: rgba(70, 78, 98, 0.5);
      min-width: 90px;
    }
  }
}
