.user {
  display: flex;
  flex-direction: column;
  &__img {
    text-align: center;
    width: 200px;
    height: 200px;
    margin-bottom: 72px;
    align-self: center;
  }
  &__pic {
    border-radius: 50%;
  }

  &__data-title {
    font-weight: 600;
    line-height: 30px;
    &:first-child {
      color: rgba(70, 78, 98, 0.5);
      min-width: 180px;
    }
  }
}
