.values {
  padding-top: 81px;
  background: url("~images/bg/backpack.jpg") no-repeat;
  background-position: left;
  background-size: 40%;

  &__title {
    font-weight: bold;
    font-style: 30px;
    text-align: center;
    margin-bottom: 39px;
  }
  &__text {
    text-align: center;
    margin-bottom: 93px;
    font-weight: 600;
  }
}
