.welcome {
  background: url("~images/bg/background.jpg") center top / cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

  @include tablets {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  }
  @include phones {
    padding-bottom: 120px;
    clip-path: none;
  }
}
