.headline-component {
  background-color: #43436b;
  color: rgba(255, 255, 255, 0.5);
}

.headline-container {
  display: flex;
  padding: 16px 0;
  align-items: center;
}

.buttons {
  margin-left: auto;
}

.btn {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
  background-color: transparent;
}

.title {
  margin-left: 30px;
  font-size: 14px;
}
