.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  margin-bottom: 53px;
}

.page-content {
  flex: 1;
  padding: 60px 0 20px;
  background: url("../images/bg/admin.jpg") center center / cover no-repeat;
}

.title {
  margin-right: 60px;
  font-size: 21px;
  font-weight: 700;
  color: $text-color;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: calc(100% / 2 - 30px);
}
